@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Semibold.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

.container_section_one {
    @apply container mx-auto px-4 py-12;

    .title_section_one {
        font-family: "Aladin", sans-serif;
        @apply text-7xl text-center mb-12;
    }

    .grid_section_one {
        @apply grid grid-cols-2 gap-8 items-center;

        .image_container {
            @apply aspect-square bg-gray-100 rounded-lg flex items-center justify-center;

            .image {
                @apply w-full h-full object-cover;
            }
        }

        .text_lg {
            @apply text-lg;

            .list_section_one {
                @apply space-y-4;

                .list_item {
                    @apply flex items-start;

                    .list_item_icon {
                        @apply text-secondaryGreen mr-4;
                    }

                    .list_word {
                        @apply text-secondaryGreen font-semibold;
                    }
                }
            }
        }
    }
}