.header {
    @apply bg-[#ffffff] h-24 py-6 px-24 flex items-center justify-between shadow-md;

    & > * {
        @apply flex-1 flex justify-end items-center;
    }

    & > .title {
        @apply text-3xl justify-start;
    }

    & > .nav {
        @apply flex-1 flex justify-center items-center space-x-4;

        & > a {
            @apply text-black w-fit px-2 py-1 rounded-default;

            transition-property: background-color, padding-left;
            transition-duration: .1s;
            transition-timing-function: ease-out;

            &:hover {
                @apply bg-gray-100 font-bold cursor-pointer;
            }
        }
    }
}