@font-face {
    font-family: "Wonderbar";
    src: url("/fonts/Wonderbar.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Semibold.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

.header {
    @apply bg-[#ffffff] py-6 px-10 flex items-center justify-between shadow-md;
}

.title {
    @apply pl-20 flex-1 text-[30px] font-black;
}

.nav {
    @apply flex justify-center items-center pr-20 space-x-4;
}

.link {
    font-family: "Source Sans Pro", sans-serif;
    @apply text-[#0b0e14] font-medium text-[16px] px-6 py-3 rounded-full transition duration-300 hover:bg-white hover:text-[#0b0e14];
}

.btn-primary {
    font-family: "Source Sans Pro", sans-serif;
    @apply text-[#0b0e14] font-medium text-[16px] px-6 py-3 rounded-full transition duration-300;
}
