@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-green: #679869;
    --dark-green: #4d624e;
    --brown: #C3803C;
    --beige: #FAEDCD;
    --white: #ffffff;
    --light-grey: #D9D9D9;
    --disabled : #F9F9F9;
    --h1-size: 80px;
    --h2-size: 48px;
    --h3-size: 32px;
}

html, body {
    @apply min-h-screen;
}

body {
    color: #333;
    @apply flex flex-col justify-between;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.checkerboard-pattern {
    background-image: linear-gradient(45deg, #f0f0f0 25%, transparent 25%),
    linear-gradient(-45deg, #f0f0f0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #f0f0f0 75%),
    linear-gradient(-45deg, transparent 75%, #f0f0f0 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0;
    opacity: 0.2;
}

.dice-pattern {
    background-image: url("https://hebbkx1anhila5yf.public.blob.vercel-storage.com/e7e7735edf5dbae3ebf7fd10f84564d9-eXrvCHtWGDC2EuNSUWjHWfPUXAFMy4.png");
    background-repeat: repeat;
    background-size: 200px 200px;
    opacity: 0.01;
}

.sword-pattern {
    background-image: url("https://hebbkx1anhila5yf.public.blob.vercel-storage.com/f89f5926b9e94700299a4508bdd6e2b2-33tDdffjNCRVSdU5sUAPrNXjHR7cXo.png");
    background-repeat: repeat;
    background-size: 200px 200px;
    opacity: 0.01;
}




