.overlay {
    @apply fixed inset-0 bg-black bg-opacity-30 z-50 flex justify-end;

    .drawer {
        @apply bg-white w-auto min-w-[450px] max-w-[90%] h-screen shadow-lg flex flex-col;
        animation: slideIn 0.3s ease-out;

        .header {
            @apply flex items-center justify-between p-4 border-b border-gray-200;

            .title {
                @apply text-2xl;
            }

            .closeButton {
                @apply p-2 rounded-full hover:bg-gray-100 transition-colors;
            }
        }

        .content {
            @apply p-6 overflow-y-auto flex-grow;
        }
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

