@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Semibold.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

.header {
    @apply text-white text-center p-[50px_20px] w-screen h-screen flex flex-col justify-center items-center;
}

.links {
<<<<<<< HEAD
    @apply bg-secondaryGreen flex space-x-4 p-3;
=======
    @apply bg-secondaryGreen flex space-x-4 p-3 rounded-lg;
>>>>>>> 96f52365a33c5926dfff6e3eac921c938bfb91d8
    font-family: "Source Sans Pro", sans-serif;
}

.hero {
    @apply bg-cover bg-center h-screen flex items-center justify-center;
    background-image: url('/images/hero.jpg');
}

.header_title {
    @apply text-[75px] font-black;
}